.lviv-location {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;

  .block {
    height: 600px;
    padding-left: 0;
    padding-right: 0;
  }
  .location-bg {
    background: url("../../../../../WebstormProjects/retina_lviv/src/assets/images/retina/hotel.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact {
    width: 450px;
    height: 320px;
    padding: 10px 0;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2),
    0 40px 77px 0 rgba(0, 0, 0, 0.22);
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    font-size: 1.3em;
    line-height: 1.6em;
    hr {
      margin: 10px 55px;
      border-color: #006666;
    }
  }
  .map {
    font-size: 3.2em;
    color: #ff0712;
  }
  strong {
    a {
      color: black;
    }
    color: black;
  }
}
