.roadmap {
  h2 {
    padding-top: 20px;
  }
  .container {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(236, 233, 215, 0.18);;
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .fa-calendar {
    color: #19BEB0;
  }
  .road-text {
    text-align: justify;
    line-height: 1.5;
    padding: 0 80px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.8rem;
    list-style: none;
  }
  .btn-primary {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    outline: none;
    border: none;
  }

  .btn-lg {
    transition: all .3s ease-out;
  }
  .btn-lg:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: rgba(254, 209, 54, 0.79);
    color: white;
    transition: all .3s ease-out;
  }

  @media screen and (max-width: 480px){
    .road-text {
      padding: 5px;
    }
  }
}
