.speaker-wrap {

  .img-speaker {
    display: block;
    width: 360px;
    height: auto;
    margin: 34px auto 40px auto;
  }
  @media screen and (min-width: 480px) {
  }
}

.intro-text {
  h3 {
    margin-top: 40px;
  }
  p {
    text-align: justify;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.8rem;
  }
  //.text-strong{
  //  font
  //}
}
