doctype html
html
    head
        title Retina Lviv
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="«РЕТІНА-ЛЬВІВ 2016» – симпозіум, присвячений пошуку та виробленню спільних " +
        " поглядів на стандартизацію вітрео-ретинальних операцій. 2 Квітня 2016 року, місто Львів, Україна.")
        meta(name="keywords" content="Ретіна Львів, конференція Ретіна Львів, симпозіум Ретіна Львів")
        meta(name="keywords" content="Retina Lviv, Conference Retina Lviv, Symposium Retina Lviv")
        meta(name="Arche Galla" content="Retina Lviv")

        link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(id="page-top" class="index scrollme page-scroll" ng-controller="MainController")
        block content
    script(src="jquery/dist/jquery.min.js")
    script(src="bootstrap-sass/assets/javascripts/bootstrap.min.js")
    script(src="malarkey/dist/malarkey.min.js")
    script(src="kinetic/kinetic.min.js")
    script(src="angular/angular.min.js")
    script(src="angular-translate/dist/angular-translate.min.js")
    script(src="javascripts/index.js")
    script(src="javascripts/cbpAnimatedHeader.min.js")
    script(src="javascripts/jquery.easing.min.js")
    script(src="javascripts/jquery.transit.min.js")
    script(src="javascripts/ngMask.min.js")
    script(src="javascripts/agency.js")
    script(src="javascripts/classie.js")
    script(src="javascripts/countdown.js")
    script(src="javascripts/introduction.js")
    script(src="javascripts/jquery.carouFredSel-6.2.1.js")
    script(src="javascripts/jquery.final-countdown.js")
    script(src="javascripts/location.js")
    script(src="javascripts/partners.js")
    script(src="javascripts/registration.js")
    script(src="javascripts/roadamap.js")
    script(src="javascripts/schedule.js")
    script(src="javascripts/session.js")
    script(src="javascripts/bootstrap.js")
