<div class="container">
  <div class="row registration-text">
    <div class="col-lg-12 text-center conditions">
      <h1 style="color: #fed136;">{{ 'REGISTRATION_CRITERIA'| translate}}</h1>

      <h2 class="text-left">{{ 'REGISTRATION_STEP_1'| translate}}</h2>

      <div class="row">
        <div class="col-lg-12">
          <br/>

          <form name="register" id="contactForm" ng-submit="submit(form)" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text"
                         name="name"
                         class="form-control"
                         ng-model="form.name"
                         placeholder="{{ 'NAME_PLACEHOLDER'| translate}}" id="name" required>

                  <p ng-if="register.name.$invalid && register.$submitted && register.$untouched"
                     class="help-block text-danger">{{'NAME_ERROR_MESSAGE' | translate}}</p>
                </div>

                <div class="form-group">
                  <input type="text"
                         name="sname"
                         class="form-control"
                         placeholder="{{ 'SNAME_PLACEHOLDER'| translate}}"
                         ng-model="form.sname"
                         required>

                  <p ng-if="register.sname.$invalid && register.$submitted && register.$untouched"
                     class="help-block text-danger">{{ 'SNAME_ERROR_MESSAGE'| translate}}</p>
                </div>


                <div class="form-group">
                  <input type="email"
                         name="email"
                         class="form-control"
                         placeholder="{{ 'EMAIL_PLACEHOLDER'| translate}}"
                         ng-model="form.email"
                         required>

                  <p ng-if="register.email.$invalid && register.$submitted && register.$untouched"
                     class="help-block text-danger">{{ 'EMAIL_ERROR_PLACEHOLDER'| translate}}</p>
                </div>
                <div class="form-group">
                  <input
                    type="tel"
                    name="phone"
                    class="form-control"
                    ng-model="form.phone"
                    mask="(999) 999-99-99"
                    id="phone"
                    placeholder="{{ 'PHONE_PLACEHOLDER'| translate}}"
                    required>

                  <p ng-if="register.phone.$invalid && register.$submitted && register.$untouched"
                     class="help-block text-danger">{{ 'PHONE_ERROR_PLACEHOLDER'| translate}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                <textarea class="form-control"
                          placeholder="{{ 'MESSAGE_PLACEHOLDER'| translate}}"
                          id="message"
                          ng-model="form.message"
                          required>

                </textarea>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <button type="submit" class="btn btn-xl">{{btnText | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <h2 class="text-left">{{ 'REGISTRATION_STEP_2' | translate }}</h2>
      <ul class="text-regist">
        <br/>
        <li><i class="fa fa-ticket"></i> <strong>до 1 січня 2016 – 300 грн</strong></li>
        <li><i class="fa fa-ticket"></i> <strong>до 1 березня 2016 – 400 грн</strong></li>
        <li><i class="fa fa-ticket"></i> <strong>у день проведення – 500 грн</strong></li>
      </ul>
      <br/>

      <p class="text-regist text-left">
        Зробити грошовий внесок, перерахувавши певну суму на рахунок <i class="fa fa-credit-card"></i>
        <strong> {{cartNumber}}</strong>, на ім’я <strong>{{ moneyOwner }}</strong>
      </p>
      <br/>

      <p class="text-regist">
        Після виконання наданих пунктів з Вами зв’яжеться наш менеджер, для остаточного підтвердження Вашої участі у
        симпозіумі «РЕТІНА-ЛЬВІВ 2016».
        <br/>
      </p>
    </div>
  </div>

</div>
