<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Retina Lviv</title>
  <meta name="description" content="retina lviv oculus">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="«РЕТІНА-ЛЬВІВ 2018» – симпозіум, присвячений пошуку та виробленню спільних поглядів на стандартизацію вітрео-ретинальних операцій. 2 Квітня 2016 року, місто Львів, Україна.">
  <meta name="keywords" content="Ретіна Львів, конференція Ретіна Львів, симпозіум Ретіна Львів">
  <meta name="keywords" content="Retina Lviv, Conference Retina Lviv, Symposium Retina Lviv">
  <meta name="author" content="Retina Lviv">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
  <!-- Custom CSS -->

  <!-- Custom Fonts -->
</head>
<body id="page-top" class="index scrollme page-scroll" ng-controller="MainController">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#page-top" animate>
        <img src="assets/images/retina/logo.png" alt="retina lviv logo"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll text-bold" href="#about">{{ 'NAV_ABOUT' | translate }}</a>
        </li>
        <!--<li>-->
          <!--<a class="page-scroll" href="#schedule">{{ 'NAV_SCHEDULE' | translate }}</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a class="page-scroll" href="#registration">{{ 'NAV_REGISTRATION' | translate }}</a>-->
        <!--</li>-->
        <li>
          <a class="page-scroll" href="#partners">{{ 'NAV_PARTNERS' | translate }}</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">{{ 'NAV_CONTACTS' | translate }}</a>
        </li>
        <li>
          <a class="text-right lang" ng-click="changeLanguage()">{{ 'CHOOSE_LANG' | translate }}</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<header ng-cloak>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-shadow">Retina Lviv 2018</div>
      <div class="intro-lead-in text-shadow">{{ 'MAIN_DESCRIPTION' | translate }}</div>
      <div class="intro-lead-old text-shadow">{{ 'MAIN_DESCRIPTION_PREVIOUS' | translate }}</div>
      <br>
      <br>
      <a ng-href="{{ photo_report }}" target="_blank" class="page-scroll btn btn-xl" style="margin-right: 25px;">{{ 'BTN_RESULT_PHOTO' | translate }}</a>
      <a ng-href="{{ video_report }}" target="_blank" class="page-scroll btn btn-xl" style="margin-right: 25px;">{{ 'BTN_RESULT_VIDEO' | translate }}</a>
      <a ng-href="{{ video_record }}" target="_blank" class="page-scroll btn btn-xl">{{ 'BTN_RESULT_RECORD' | translate }}</a>
    </div>
  </div>
</header>

<section>
  <introduction></introduction>
  <div id="about"></div>
</section>

<countdown></countdown>

<!--<div id="roadmap">-->
  <!--<road-map></road-map>-->
<!--</div>-->

<!--<section id="session">-->
  <!--<session></session>-->
<!--</section>-->

<!--<section id="schedule" class="bg-light-gray">-->
  <!--<schedule></schedule>-->
<!--</section>-->

<div class="container tezy" ng-controller="TezyController as tezy">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h1 class="section-heading">{{ 'ПОДАННЯ ТЕЗ' | translate }}</h1>
      <h4>Кінцевий термін подання тез 31 січня 2017 року.</h4>
      <br>
    </div>
  </div>

  <div class="row">
    <div class=" col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 text-left">
      <h4 class="list-titles">ВИМОГИ</h4>
      <ul class="tezy-text">
        <li>Всі тези повинні бути подані онлайн до 31 січня 2018 року.</li>
        <li>Надіслані по пошті, електронною поштою, факсом або будь-якими іншими способами НЕ
          приймаються.
        </li>
        <li>Після того, як ви подали свої тези, вам буде надіслано коротке повідомлення
          електронною поштою.
          Перевірте пошту, щоб переконатися, що вся інформація є вірною. Організатори не несуть
          відповідальності за тези, які не були належним чином подані.
        </li>
        <li> Всі тези спочатку будуть переглянуті, оцінені та прийняті або відхилені
          оргкомітетом.
        </li>
        <li>Оргкомітет залишає за собою право визначити, чи роботи будуть прийняті у вигляді
          доповіді.
          Рішення оргкомітету є остаточним.
        </li>
        <li> Якщо робота буде прийнята, доповідач повинен бути зареєстрованим делегатом на
          симпозіумі.
        </li>
      </ul>
      <br>
      <br>
      <h4 class="list-titles">СТРУКТУРА</h4>
      <p class="tezy-text">Всі тези повинні бути написані українською або англійською мовами і мати
        наступну
        структуру:</p>
      <ul class="tezy-text">
        <li>Назва, вступ, мета, методи, результати, висновки, фінансові інтереси усіх авторів.</li>

        <li>Максимальний об’єм тез 2 сторінки.</li>

        <li>Використовуючи абревіатуру, слід після першого згадування написати повну назву
          використаних
          слів.
        </li>
      </ul>

      <br>
      <br>

      <h4 class="list-titles"> ПРЕЗЕНТАЦІЇ СКЛАДНИХ ВИПАДКІВ</h4>
      <ul class="tezy-text">
        <li>Дозволяється надати лише один випадок на кожній презентації.</li>
        <li>Презентація повинна містити не більше 5 слайдів PowerPoint.</li>
        <li>Час презентації 6 хвилин (3 хвилини для презентації та 3 хвилини для обговорення).</li>
        <li>За найкращу презентацію буде присуджена нагорода.</li>
      </ul>

      <br>
      <br>

      <h4 class="list-titles">КІЛЬКІСТЬ ТЕЗ</h4>
      <ul class="tezy-text">
        <li>Кожен автор може подати максимум дві тези та одну презентацію складних випадків.</li>
      </ul>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-9 col-lg-offset-1 col-lg-9">
      <button class="btn btn-primary btn-lg pull-right tyzy-submit-btn"
              ng-click="tezy.openTezyModal()">Відправити
      </button>
    </div>
  </div>
  <br>
  <br>

</div>

<!--<div id="partners" style="max-width: 100vw;">-->
<!--<partners></partners>-->
<!--</div>-->

<!--<section id="registration">-->
  <!--<registration></registration>-->
<!--</section>-->

<div id="contact">
  <location></location>
</div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
<!-- Google Tag Manager -->

<script>(function (w, d, s, l, i) {
  w[l] = w[l] || [];
  w[l].push({
    'gtm.start': new Date().getTime(), event: 'gtm.js'
  });
  var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
  j.async = true;
  j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl;
  f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TZTVGP');</script>
<!-- End Google Tag Manager -->
</body>
</html>
